<div class="row">
  <div class="col-md-9 center-block task-column">

	<div class="row">

            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-6 col-lg-8">
                   <h2>{{myproject.name}}</h2>
                    <span class="tags">Programming</span>
                </div>
             <div class="col-xs-6 col-lg-4">
                    <h4><strong>Deadline:{{myproject.deadline}}</strong></h4>
                    </div>

                </div>

        <div class="well">

             <tabset>
    <tab heading="Task">

        <div class="well">
            <i class="fa fa-plus fa-2x">  Add Milestone</i>
        </div>

    </tab>
    <tab heading="Collaborators">
<div class="well">
        <i class="fa fa-plus fa-2x">  Add Collaborators</i>
</div>
    </tab>

    <tab heading="Workers">

        Static content

    </tab>
    <tab heading="Stats">

        <p>
           <strong></strong> Total Payment: </strong> $500.00

        </p>
        <div>
<h3> Project Overall Progress</h3>
             <progress><bar value="10" type="success"><span>Milestone1  10%</span></bar>
             <bar value="30" type="warning"><span>Milestone2 30%</span></bar>
                 <bar value="15" type="info"><span>Milestone3 15%</span></bar>
                 <bar value="17" type="danger"><span>Milestone4 17%</span></bar>

             </progress>
        </div>

    </tab>


  </tabset>

        </div>
            </div>


  </div>
  <div class="col-md-3 center-block bordered skill-column">
      <h3 class="text-center">Skills</h3>
      <div class="well">
      <i class="fa fa-plus fa-2x">  Add Skill</i>
        </div>
  </div>
</div>